//IMPORTS *************************

@import "./_colors.scss";
@import "bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "./video.scss";
@import "./main.scss";


//MAIN STYLING =========================
body {
  background-color: $maingreen;
  // background-image: linear-gradient(#706993,#4f4775,#706993);
  margin: 0px;

}

// TEXT =========================
h1 {
  font-family: cubano,sans-serif;
  color: $darkpurp;
  // font-size: x-large;
}

h2 {
  font-family: europa,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $darkpurp;
}

h3 {
  font-family: europa,sans-serif;
  font-weight: 400;
  font-size: small;
  font-style: normal;
  color: $maingreen;
}
p {
  font-family: europa,sans-serif;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  color: $darkpurp;
}
h4 {
  font-family: cubano,sans-serif;
  color: $darkpurp;
  font-size: large;
}

h5 {

  font-family: europa,sans-serif;
  font-weight: 400;
  color: $mainyellow;
  font-size: medium;

}

h6 {
  font-family: europa,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $darkpurp;
  font-size: medium;
  
}

ul {
  font-size: medium;
}

a:link {
  color: $darkpurp;
  background-color: transparent;
}

a:visited {
  color: $darkpurp;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: $darkpurp;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: $mainyellow;
  background-color: transparent;
  text-decoration: underline;
}

.paragraphs {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: left;
}

.paragraphs-me {
  margin-left: 10px;
  padding-right: 5px;
  padding-top: 20px;
  text-align: left;
}



// ABOUT MEDIA QUERY MOBILE=========================

.hiimjake {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.hiimjakegroup {
  display: flex;
  
}

.highimjakepro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0px;
}

.hihimjakepro-img {
  width: 300px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 20px;
}


.about-hi-main {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 32px;
  background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ;
  border: solid 5px $maingreen;
  margin-top: 10px;
}



.aboutsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  

.abouthead-img {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 75px;
}

.aboutgroup-img {
 display: none;
    
}
  
.aboutgroup {
  display: flex;
  align-items: center;

}


img.techtool {
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.artabout-mobile {
  width: 300px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 40px;

}

.artabout-uiux {
  width: 280px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 20px;

}

.about-text-main {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 32px;
  background-color: $mainyellow ;
  border: solid 5px $maingreen;
  margin-top: 50px;

}

.about-main {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 32px;
  background-color: $mainyellow ;
  border: solid 5px $maingreen;
  margin-top: 50px;

}

.aboutsection {
  display: flex;
  
}

  .artabout-personas {
  width: 300px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;

  }
     
  // CONTAINERS =========================
  
  .first-box-video {
    display: flex;
    justify-content: center;
  }
    
    
  .workcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
  }
    
  .mainworkcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  
  }

  
  .first-box {
    background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
    min-width: 320px;
    max-height: 3000px;
    border-style: solid $maingreen;
    border-radius:0px;
    margin-top: 20px;
    border-style: solid;
    border-color: $mainyellow;
  
  }

  .first-box-top {
    background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
    min-width: 320px;
    max-height: 3000px;
    border-style: solid $maingreen;
    border-radius:0px;
    margin-top: px;
    border-style: solid;
    border-color: $mainyellow;
  
  }

  // WORK SECTION =========================

  #work {
    scroll-margin-top: 50px;
  
  }

.workhead-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

}

  .c51logo-top {
       
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
  
  .caddielogo-top {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
  }

  
  .C51-description { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    text-align: left;
    line-height: 32px;
  }

  .worksection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .workbox {
      
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .workhead-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
    
    
  .c51 {
    width: 200px;
  
  }
    
  .caddie-baby {
    width: 300px;
    padding-top: 5px; 
  
  }
  
  .planning {
    padding-top: 20px;
    
  }
  
  .JakeAbout {
    width: 500px;
    padding-bottom: 20px;
  
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
  }
  
  .about-green-box {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
  }

  
  .about-text-art{
    display: flex;
    justify-content: center;
      
  }
  
  .prototype {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .proto-head {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 50px;
  }
  
  .logo-prototype-desktop {
    padding-top: 10px;
  }
  .desktop {
    width: 300px;
  }
  
  .mobile {
    width: 200px;
    padding-top:20px;
  
  
  }
  
  .mobile:hover {
    transform: scale(1.05);
    transition: 2ms;
  }
  
  .desktop:hover {
    transform: scale(1.05);
    transition: 10ms;
  }
  
 // BUTTONS =========================
 .workbuttons {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}

.homebutton {
  padding-top: 20px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;

}
      
      
.btn-primary {
 
  transition: 400ms;
  padding: 5px 15px;
  border: transparent;
  border-radius: 8px;
  background-color: $darkpurp;
  color: $mainyellow;
  cursor: pointer;
  font-family: europa,sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 0.5rem;

}

.btn-primary:hover {
  transform: scale(1.05);
  transition: 2ms;
  background-color: #4b2c53;
  color: $mainyellow;

}

  
.btn {
  margin: 5px;

}

  
@media only screen and (min-width: 426px) {


  .paragraphs {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    text-align: left;
  }
  .first-box {
    background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
    max-width: 550px;
    max-height: 3000px;
    border-style: solid $maingreen;
    border-radius:0px;
    margin-top: 20px;
    border-style: solid;
    border-color: $mainyellow;
  
  }

  .first-box-top {
    background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
    max-width: 550px;
    max-height: 3000px;
    border-style: solid $maingreen;
    border-radius:0px;
    margin-top: 200px;
    border-style: solid;
    border-color: $mainyellow;
  
  }
  
  .about-text-main {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 32px;
    background-color: $mainyellow ;
    border: solid 5px $maingreen;
    margin-top: 50px;
  
  }

  .hiimjake {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .hiimjakegroup {
    display: flex;
    
  }

  .highimjakepro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
  }

  .hihimjakepro-img {
    width: 300px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 40px;
  }

  .workhead-img {
    display: none;
  }
  .about-hi-main {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 32px;
    background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ;
    border: solid 5px $maingreen;
    margin-top: 10px;
  }

  .aboutgroup-img {
    display: none;
    width: 300px;
    padding-left: 20px;
      
  }
    
  .aboutgroup {
    display: flex;
    align-items: center;
  
  }

  .abouthead-img {
    display: none;
  }

  .aboutdesk-img {
    width: 200px;
    padding-left: 20px;
    display: block;
      
  }

  .prototype {
    display: flex;
    flex-direction: row;
  }
  #work {
    scroll-margin-top: 90px;
  
  }
  
  #about {
    scroll-margin-top: 140px;
  
  }
  
  }
  

  @media only screen and (min-width: 769px) {

    .first-box {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 750px;
      max-height: 3000px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 20px;
      border-style: solid;
      border-color: $mainyellow;
    
    }

    .first-box-top {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 750px;
      max-height: 3000px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 200px;
      border-style: solid;
      border-color: $mainyellow;
    
    }
    
    .about-text-main {
      max-width: 750px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-color: $mainyellow ;
      border: solid 5px $maingreen;
      margin-top: 50px;
    
    }

    .hiimjake {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }

    .hiimjakegroup {
      display: flex;
      
    }

    .highimjakepro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 150px;
    }

    .hihimjakepro-img {
      width: 300px;
      display: flex;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 40px;
    }

    .workhead-img {
      display: none;
    }
    .about-hi-main {
      max-width: 750px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ;
      border: solid 5px $maingreen;
      margin-top: 10px;
    }

    .aboutgroup-img {
      display: block;
      width: 300px;
      padding-left: 20px;
        
    }
      
    .aboutgroup {
      display: flex;
      align-items: center;
    
    }

    .paragraphs {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 20px;
      text-align: left;
    }

    p {
      font-family: europa,sans-serif;
      font-weight: 400;
      font-size: large;
      font-style: normal;
      color: $darkpurp;
    }

    .artabout-personas {
      width: 600px;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
    
      }

      #work {
        scroll-margin-top: 120px;
      
      }
      
      #about {
        scroll-margin-top: 160px;
      
      }

       // BUTTONS =========================
 .workbuttons {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}

.homebutton {
  padding-top: 0px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}
      
      
.btn-primary {
 
  transition: 400ms;
  padding: 5px 15px;
  border: transparent;
  border-radius: 8px;
  background-color: $darkpurp;
  color: $mainyellow;
  cursor: pointer;
  font-family: europa,sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 0.5rem;

}

.btn-primary:hover {
  transform: scale(1.05);
  transition: 2ms;
  background-color: #4b2c53;
  color: $mainyellow;

}

  
.btn {
  margin: 5px;

}

  }

  @media only screen and (min-width: 1025px) {


    .first-box {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 750px;
      max-height: 3000px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 20px;
      border-style: solid;
      border-color: $mainyellow;
    
    }

    .first-box-top {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 750px;
      max-height: 3000px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 200px;
      border-style: solid;
      border-color: $mainyellow;
    
    }
    

    .about-text-main {
      max-width: 750px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ;
      border: solid 5px $maingreen;
      margin-top: 20px;
    
    }

    .artabout-mobile {
      width: 450px;
      display: flex;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 40px;
    
    }

    .paragraphs {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 20px;
      text-align: left;
    }

    .hihimjakepro-img {
      width: 300px;
      display: flex;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 40px;
    }

    .hiimjake {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }

    .hiimjakegroup {
      display: flex;
      
    }

    .highimjakepro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 150px;
    }

    .workhead-img {
      display: none;
    }
    .about-hi-main {
      max-width: 750px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ;
      border: solid 5px $maingreen;
      margin-top: 10px;
      
    }

    .aboutgroup-img {
      display: block;
      width: 300px;
      padding-left: 20px;
        
    }
      
    .aboutgroup {
      display: flex;
      align-items: center;
    
    }

    .abouthead-img {
      display: none;
    }

    p {
      font-family: europa,sans-serif;
      font-weight: 400;
      font-size: large;
      font-style: normal;
      color: $darkpurp;
    }

    .artabout-personas {
      width: 600px;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
    
      }
      #work {
        scroll-margin-top: 120px;
      
      }
      
      #about {
        scroll-margin-top: 200px;
      
      }

       // BUTTONS =========================
 .workbuttons {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}

.homebutton {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}
      
      
.btn-primary {
 
  transition: 400ms;
  padding: 5px 15px;
  border: transparent;
  border-radius: 8px;
  background-color: $darkpurp;
  color: $mainyellow;
  cursor: pointer;
  font-family: europa,sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 0.5rem;

}

.btn-primary:hover {
  transform: scale(1.05);
  transition: 2ms;
  background-color: #4b2c53;
  color: $mainyellow;

}

  
.btn {
  margin: 5px;

}
  }


  @media only screen and (min-width: 1440px) {

    .first-box {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 1000px;
      max-height: 3000px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 20px;
      border-style: solid;
      border-color: $mainyellow;
    
    }

    .first-box-top {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 1000px;
      max-height: 3000px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 20px;
      border-style: solid;
      border-color: $mainyellow;
    
    }
    
    .about-text-main {
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ;
      border: solid 5px $maingreen;
      margin-top: 20px;
      padding-bottom: 50px;
      margin-bottom: 50px;
      padding-top: 50px;
    
    }

    .paragraphs {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 20px;
      text-align: left;
      padding-bottom: 20px;
    }

    p {
      font-family: europa,sans-serif;
      font-weight: 400;
      font-size: large;
      font-style: normal;
      color: $darkpurp;
    }

    .artabout-mobile {
      width: 500px;
      display: flex;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 40px;
    
    }

    .hihimjakepro-img {
      width: 400px;
      display: flex;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 40px;
    }

    .hiimjake {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }

    .hiimjakegroup {
      display: flex;
      
    }

    .highimjakepro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 150px;
    }
    .workhead-img {
      display: none;
    }
    .about-hi-main {
      min-width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ;
      border: solid 5px $maingreen;
      margin-top: 10px;
      padding-bottom: 50px;
      margin-bottom: 50px;
      padding-top: 50px;
    }

    .aboutgroup-img {
      display: block;
      width: 300px;
      padding-left: 20px;
        
    }
      
    .aboutgroup {
      display: flex;
      align-items: center;
    
    }

    .abouthead-img {
      display: none;
    }

    .artabout-personas {
      width: 600px;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
    
      }

      #work {
        scroll-margin-top: 150px;
      
      }
      
      #about {
        scroll-margin-top: 160px;
      
      }

      img.techtool {
        width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    
      .artabout-uiux {
        width: 300px;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        padding-top: 20px;
      
      }

      .caddie-baby {
        width: 700px;
      }

      .zkhool {
        width: 500px;

      }

      .c51 {
        width: 500px;
      }

       // BUTTONS =========================
 .workbuttons {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}

.homebutton {
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}
      
      
.btn-primary {
 
  transition: 400ms;
  padding: 5px 15px;
  border: transparent;
  border-radius: 8px;
  background-color: $darkpurp;
  color: $mainyellow;
  cursor: pointer;
  font-family: europa,sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 0.5rem;
  box-shadow: black 0px 5px 15px -5px;

}

.btn-primary:hover {
  transform: scale(1.05);
  transition: 500ms;
  background-color: #4b2c53;
  color: $mainyellow;

}

  
.btn {
  margin: 5px;

}

  

  }

  @media only screen and (min-width: 2560px) {

   

    .caddie-baby {
      width: 700px;
    }

    h5 {
      font-size: xx-large;
    }

  

    .first-box {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 2500px;
      max-height: 3000px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 20px;
      border-style: solid;
      border-color: $mainyellow;
    
    }

    .first-box-top {
      background-image: linear-gradient(#A0C1B9,#b5c2be,#A0C1B9);
      max-width: 2500px;
      border-style: solid $maingreen;
      border-radius:0px;
      margin-top: 200px;
      border-style: solid;
      border-color: $mainyellow;
    
    }
    
    .about-text-main {
      max-width: 1300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-image: linear-gradient(#F4E8C1,#f7efd6,#F4E8C1) ; ;
      border: solid 5px $maingreen;
      margin-top: 20px;
    
    }

    .about-hi-main {
      max-width: 1300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 32px;
      background-color: $mainyellow ;
      border: solid 5px $maingreen;
      margin-top: 50px;
    }

    .hihimjakepro-img {
      width: 1000px;
      display: flex;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 40px;
    }

    .paragraphs {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 20px;
      text-align: left;
    }

    p {
      font-family: europa,sans-serif;
      font-weight: 400;
      font-size: x-large;
      font-style: normal;
      color: $darkpurp;
    }

    .artabout-personas {
      width: 600px;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
    
      }


.artabout-mobile {
  width: 400px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 40px;

}

.hiimjake {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#work {
  scroll-margin-top: 150px;

}

#about {
  scroll-margin-top: 165px;

}

.artabout-personas {
  width: 1000px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;

  }

  h1 {
    font-family: cubano,sans-serif;
    color: $darkpurp;
    font-size: xxx-large;
  }
  ul {
    font-size: x-large;
  }

  .aboutgroup-img {
    display: block;
    width: 300px;
    padding-left: 20px;
      
  }
    
  .aboutgroup {
    display: flex;
    align-items: center;
  
  }
  
  img.techtool {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .artabout-uiux {
    width: 500px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
  
  }

  .prototype {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  .proto-head {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 50px;
  }
  
  .logo-prototype-desktop {
    padding-top: 10px;
  }
  .desktop {
    width: 500px;
  }
  
  .mobile {
    width: 400px;
    padding-top:20px;
  
  
  }
  .c51 {
    width: 400px;
  
  }

   // BUTTONS =========================
 .workbuttons {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}

.homebutton {
  // padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

}
      
      
.btn-primary {
 
  transition: 400ms;
  padding: 5px 15px;
  border: transparent;
  border-radius: 8px;
  background-color: $darkpurp;
  color: $mainyellow;
  cursor: pointer;
  font-family: europa,sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin: 0 0 0.5rem;

}

.btn-primary:hover {
  transform: scale(1.05);
  transition: 2ms;
  background-color: #4b2c53;
  color: $mainyellow;

}

  
.btn {
  margin: 5px;

}

  }