// LANDING PAGE

.jakelogo {
    width: 300px;
    padding-top: 125px;
    
    
}

.jake-logo-containter {
    display: flex;
    justify-content: center;

}
// FOOTER

.footer-icons {
    display: flex;
    
}

.github {
    
    width: 50px;
    
    
}

.linkedin {
    width: 50px;

}

