// LANDING PAGE

.jakelogo {
    width: 300px;
    padding-top: 125px;
    
    
}

.jake-logo-containter {
    display: flex;
    justify-content: center;

}
// FOOTER

.footer-icons {
    display: flex;
    padding-top: 20px;
    
    
}


.github {
    
    width: 100px;
    padding: 15px;
    
    
    
}

// .github:hover {
//     transform: scale(1.5);
//     transition: 250ms;
//     color: $mainyellow;
// }

.linkedin {
    width: 100px;
    padding: 15px;

}


// .linkedin:hover {
//     transform: scale(1.5);
//     transition: 250ms;
//     color: $mainyellow;
// }


@media only screen and (min-width: 361px ) {
    // LANDING PAGE

.landcontainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 170px;
    padding-bottom: 45px;
}

.jakelogo {
    width: 600px;
    padding-top: 180px;
    
    
}

.jake-logo-containter {
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;

}
// FOOTER

.footer-icons {
    display: flex;
    align-items: center;
    
    
    
}

.github {
    
    width: 95px;
    margin-right: -10px;
    margin-left: -15px;
    
    // padding: 15px;
    
    
    
}

.github:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.mail:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin {
    width: 90px;
    padding-top: 10px;
    padding: 15px;
    margin-left: -10px;
    
}
.mail {
    width: 90px;
    padding: 15px;
    padding-top: 17px;
    margin-right: -10px;
    margin-left: -10px;

}
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.footer-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

