// // LANDING PAGE

// .jakelogo {
//     width: 300px;
//     // padding-top: 125px;
    
    
// }

// .jake-logo-containter {
//     display: flex;
//     justify-content: center;

// }


// @media only screen and (min-width: 1300px ) {
   
//     // LANDING PAGE
    
//     .landcontainer {
//         display: flex;
//         justify-content: space-evenly;
//         padding-top: 300px;
//         padding-bottom: 45px;
//     }
    
//     .jakelogo {
//         width: 600px;
//         // padding-bottom: 150px;
        
        
//     }
    
//     .jake-logo-containter {
//         display: flex;
//         flex-direction: column;
    
    
//     }
//     // FOOTER
    
//     .footer-icons {
//         display: flex;
//         align-items: center;
        
        
        
//     }
    
//     .github {
        
//         width: 95px;
//         margin-right: -10px;
//         margin-left: -15px;
        
//         // padding: 15px;
        
        
        
//     }
    
//     .github:hover {
//         transform: scale(1.1);
//         transition: 2ms;
//     }
    
//     .mail:hover {
//         transform: scale(1.1);
//         transition: 2ms;
//     }
    
//     .linkedin:hover {
//         transform: scale(1.1);
//         transition: 2ms;
//     }
    
//     .linkedin {
//         width: 90px;
//         padding-top: 10px;
//         padding: 15px;
//         margin-left: -10px;
        
//     }
//     .mail {
//         width: 90px;
//         padding: 15px;
//         padding-top: 17px;
//         margin-right: -5px;
//         margin-left: -5px;
    
//     }
//     }
//     .footer-container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding-bottom: 20px;
//     }
    
//     .footer-container-top {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding-top: 70px;
//         padding-bottom: 50px;
//     }
    



// @media only screen and (min-width: 551px ) {
   
// // LANDING PAGE

// .landcontainer {
//     display: flex;
//     justify-content: space-evenly;
//     padding-top: 170px;
//     padding-bottom: 45px;
// }

// .jakelogo {
//     width: 600px;
//     padding-top: 180px;
    
    
// }

// .jake-logo-containter {
//     display: flex;
//     flex-direction: column;


// }
// // FOOTER

// .footer-icons {
//     display: flex;
//     align-items: center;
    
    
    
// }

// .github {
    
//     width: 95px;
//     margin-right: -10px;
//     margin-left: -15px;
    
//     // padding: 15px;
    
    
    
// }

// .github:hover {
//     transform: scale(1.1);
//     transition: 2ms;
// }

// .mail:hover {
//     transform: scale(1.1);
//     transition: 2ms;
// }

// .linkedin:hover {
//     transform: scale(1.1);
//     transition: 2ms;
// }

// .linkedin {
//     width: 90px;
//     padding-top: 10px;
//     padding: 15px;
//     margin-left: -10px;
    
// }
// .mail {
//     width: 90px;
//     padding: 15px;
//     padding-top: 17px;
//     margin-right: -5px;
//     margin-left: -5px;

// }
// }
// .footer-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-bottom: 20px;
// }

// .footer-container-top {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-top: 70px;
//     padding-bottom: 50px;
// }






// @media only screen and (min-width: 551px ) {


//     // LANDING PAGE

// .landcontainer {
//     display: flex;
//     flex-direction: column;
//     // justify-content: center;
//     padding-top: 50px;
//     padding-bottom: 0px;
// }

// .jakelogo {
//     width: 400px;
//     padding-top: 180px;
//     display: flex;
//     justify-content: center;
    
// }

// .jake-logo-containter {
//     display: flex;
//     flex-direction: column;
//     align-items: center;


// }
// // FOOTER

// .footer-icons {
//     display: flex;
//     align-items: center;
    
    
    
// }

// .github {
    
//     width: 95px;
//     margin-right: -10px;
//     margin-left: -15px;
    
//     // padding: 15px;
    
    
    
// }

// .github:hover {
//     transform: scale(1.1);
//     transition: 2ms;
// }

// .mail:hover {
//     transform: scale(1.1);
//     transition: 2ms;
// }

// .linkedin:hover {
//     transform: scale(1.1);
//     transition: 2ms;
// }

// .linkedin {
//     width: 90px;
//     padding-top: 10px;
//     padding: 15px;
//     margin-left: -10px;
    
// }
// .mail {
//     width: 90px;
//     padding: 15px;
//     padding-top: 17px;
//     margin-right: -5px;
//     margin-left: -5px;

// }
// }
// .footer-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-bottom: 20px;
// }

// .footer-container-top {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-top: 0px;
// }





    // LANDING PAGE

.landcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.jakelogo {
    width: 300px;
    
    display: flex;
    justify-content: center;
    
}

.jake-logo-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
   

}


.footer-icons {
    display: flex;
    align-items: center;
    padding-top: 20px;
    
}

.github {
  
    width: 90px;
    margin-right: -10px;
    margin-left: -15px;
    padding: 15px;
    
}

.nss {
    width: 50px;
    margin-right: 15px;

}

.github:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.mail:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin {
    width: 85px;
    padding-top: 10px;
    padding: 15px;
    margin-left: -10px;
    
}
.mail {
    width: 85px;
    padding: 15px;
    padding-top: 17px;
    margin-right: -5px;
    margin-left: -5px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    padding-left: 10px;
    padding-top: 75px;
}

.footer-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.footer-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}



@media only screen and (min-width: 426px ) {


    // LANDING PAGE TABLET 

.landcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.jakelogo {
    width: 450px;
    
    display: flex;
    justify-content: center;
    
}

.jake-logo-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
   

}


.footer-icons {
    display: flex;
    align-items: center;
    padding-top: 20px;
    
}

.github {
  
    width: 90px;
    margin-right: -10px;
    margin-left: -15px;
    padding: 15px;
    
}

.nss {
    width: 50px;
    margin-right: 15px;
}

.github:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.mail:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin {
    width: 85px;
    padding-top: 15px;
    padding: 15px;
    margin-left: -10px;
    
}
.mail {
    width: 85px;
    padding: 15px;
    padding-top: 17px;
    margin-right: -5px;
    margin-left: -5px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-top: 75px;
}

.footer-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.footer-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}
}


@media only screen and (min-width: 769px ) {


    // LANDING PAGE DESKTOP 769 
    

.landcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.jakelogo {
    width: 550px;
    
    display: flex;
    justify-content: center;
    
}

.jake-logo-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;

}


.footer-icons {
    display: flex;
    align-items: center;
    padding-top: 20px;
    
}

.github {
  
    width: 90px;
    margin-right: -10px;
    margin-left: -15px;
    padding: 15px;
    
}

.nss {
    width: 50px;
    margin-right: 15px;

}


.github:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.mail:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin:hover {
    transform: scale(1.1);
    transition: 2ms;
}

.linkedin {
    width: 85px;
    padding-top: 15px;
    padding: 15px;
    margin-left: -10px;
    
}
.mail {
    width: 85px;
    padding: 15px;
    padding-top: 17px;
    margin-right: -5px;
    margin-left: -5px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-top: 20px;
}
}


    @media only screen and (min-width: 1025px ) {

        .landcontainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        
        .jakelogo {
            width: 500px;
            
            display: flex;
            justify-content: center;
            
        }
        
        .jake-logo-containter {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 200px;
        
        }
        
        
        .footer-icons {
            display: flex;
            align-items: center;
            padding-top: 20px;
            
        }
        
        .github {
          
            width: 90px;
            margin-right: -10px;
            margin-left: -15px;
            padding: 15px;
            
        }
        
        .nss {
            width: 50px;
            margin-right: 15px;
        
        }
        
        
        .github:hover {
            transform: scale(1.1);
            transition: 2ms;
        }
        
        .mail:hover {
            transform: scale(1.1);
            transition: 2ms;
        }
        
        .linkedin:hover {
            transform: scale(1.1);
            transition: 2ms;
        }
        
        .linkedin {
            width: 85px;
            padding-top: 15px;
            padding: 15px;
            margin-left: -10px;
            
        }
        .mail {
            width: 85px;
            padding: 15px;
            padding-top: 17px;
            margin-right: -5px;
            margin-left: -5px;
        
        }
        
        .footer-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 250px;
            padding-left: 10px;
            padding-top: 40px;
        }
        }

        @media only screen and (min-width: 1440px ) {

            .landcontainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 250px;
                padding-bottom: 0px;
            }
            
            .jakelogo {
                width: 650px;
                padding-right: 50px;
                display: flex;
                justify-content: center;
                
            }
            
            .jake-logo-containter {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 50px;
            
            }
            
            
            .footer-icons {
                display: flex;
                align-items: center;
                padding-top: 20px;
                
            }
            
            .github {
              
                width: 90px;
                margin-right: -10px;
                margin-left: -15px;
                padding: 15px;
                
            }
            
            .nss {
                width: 50px;
                margin-right: 15px;
            
            }
            
            
            .github:hover {
                transform: scale(1.1);
                transition: 2ms;
            }
            
            .mail:hover {
                transform: scale(1.1);
                transition: 2ms;
            }
            
            .linkedin:hover {
                transform: scale(1.1);
                transition: 2ms;
            }
            
            .linkedin {
                width: 85px;
                padding-top: 15px;
                padding: 15px;
                margin-left: -10px;
                
            }
            .mail {
                width: 85px;
                padding: 15px;
                padding-top: 17px;
                margin-right: -5px;
                margin-left: -5px;
            
            }
            
            .footer-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 100px;
                padding-left: 10px;
                padding-top: 100px;
            }

            .footer-container-top {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 400px;
                padding-left: 10px;
                padding-top: 20px;
            }
            }


            @media only screen and (min-width: 2560px ) {

                .landcontainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-top: 500px;
                    padding-bottom: 0px;
                }
                
                .jakelogo {
                    width: 850px;
                    padding-right: 50px;
                    display: flex;
                    justify-content: center;
                    
                }
                
                .jake-logo-containter {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 50px;
                
                }
                
                
                .footer-icons {
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    
                }
                
                .github {
                  
                    width: 90px;
                    margin-right: -10px;
                    margin-left: -15px;
                    padding: 15px;
                    
                }
                
                .nss {
                    width: 50px;
                    margin-right: 15px;
                
                }
                
                
                .github:hover {
                    transform: scale(1.1);
                    transition: 2ms;
                }
                
                .mail:hover {
                    transform: scale(1.1);
                    transition: 2ms;
                }
                
                .linkedin:hover {
                    transform: scale(1.1);
                    transition: 2ms;
                }
                
                .linkedin {
                    width: 85px;
                    padding-top: 15px;
                    padding: 15px;
                    margin-left: -10px;
                    
                }
                .mail {
                    width: 85px;
                    padding: 15px;
                    padding-top: 17px;
                    margin-right: -5px;
                    margin-left: -5px;
                
                }
                
                .footer-container-top {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 500px;
                    padding-left: 10px;
                    padding-top: 200px;
                }

                .footer-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 100px;
                    padding-left: 10px;
                    padding-top: 200px;
                }
                }
            
    
    
    
    
    
    
    





