

.navlist {
    display: flex;
    flex-direction: row;
}

.nav {
    
    padding-top: 50px;
    padding-bottom: 100px;
}

.navcontainer {
    display: flex;
    flex-direction: row;
}

.navhome {
    
    padding-right: 90px;
    padding-top: 2px;
    // width: 200px;
}

.navwork {
   
    padding-right: 100px;
    padding-top: 5px;
    // width: 200px;
}  

.navabout {
    
    padding-left: 50px;
    padding-top: 6px;
    // width: 165px;
} 

.navresume {
    
    padding-right: 10px;
    padding-top: 6px;
    // width: 125px;
    
}

/* mouse over link */
 
  
 

