// NAV SECTION =========================

.nav {
    background-color: #706993;
    
}

.navresume {
    width: 70px;
}
.navhome {
    width: 70px;
}

.navwork {
   width: 70px;
}  

.navabout {
    width: 70px;

} 

.navboxes {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
  
 

