
@import "./_colors.scss";
//NAV MEDIA QUERY MOBILE=========================


    .nav {
        background-color: $mainpurp;
        padding: 10px;
        box-shadow: 0 20px 60px -40px rgb(44, 43, 43);
         
    }



    .navbar-toggler-icon {
        border: none !important;
        
    }

    .navbar-collapse {
       
        border: none !important;
    }


    .nav-link {
        display: flex;
        justify-content:center;
    }
    
    
    .navwork {
       
        width: 60px;
        padding-top: 1px;
        
     
        
    }
    .navresume {
        width: 60px;
        padding-top: 2px;
        
        
    }
    
    .navabout {
        width: 60px;
        padding-top: 2px;
    }
    
    .navhome {
        width: 60px;
        cursor: pointer;
    
    }
    
    .navresume:hover, .navhome:hover, .navwork:hover, .navabout:hover {
       
        transform: scale(1.1);
        transition: 2ms;
    
    }
    
    
    .navcontain {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        align-items: center;
        
    
    
    }
    


//NAV MEDIA QUERY TABLET=========================
@media only screen and (min-width: 550px ) { 

    .nav {
        background-color: $darkpurp;
        padding: 10px;
        box-shadow: 0 20px 60px -40px rgb(44, 43, 43);
        
    }

    .nav-link {
        display: flex;
        justify-content:center;
    }
    
    .navbar-toggler {
        border: none !important;
        
    }

    .navbar-toggler-icon {
        border: none !important;
        
    }

    .navbar-toggle {
        border: none !important;

    }

    .navbar-collapse {
       
        border: none !important;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navwork {
       
        width: 60px;
        padding-top: 1px;
        margin-right: 20px;
        
          
        
    }
    .navresume {
        width: 60px;
        padding-top: 2px;
        margin-right: 20px;
        
        
        
    }
    
    .navabout {
        width: 60px;
        padding-top: 2px;
        margin-right: 20px;
    }
    
    .navhome {
        width: 60px;
        // padding-top: 1px;
        cursor: pointer;
        margin-right: 20px;
    
    }
    
    .navresume:hover, .navhome:hover, .navwork:hover, .navabout:hover {
       
        transform: scale(1.1);
        transition: 2ms;
    
    }
    
    
    .navcontain {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    
    }
    }



//NAV MEDIA QUERY DEKSTOP 1024=========================
@media only screen and (min-width: 1024px ) { 

    .nav {
        background-color: #331E38;
        padding: 10px;
        box-shadow: 0 20px 60px -40px rgb(44, 43, 43);
        
    } 

    .nav-link {
        display: flex;
        justify-content:center;
    }
    
    .navbar-toggler {
        border: none !important;
        
    }

    .navbar-toggler-icon {
        border: none !important;
        
    }

    .navbar-toggle {
        border: none !important;

    }

    .navbar-collapse {
       
        border: none !important;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navwork {
       
        width: 125px;
        padding-top: 1px;
        padding-left: 20px;
        padding-right: 20px;
        
        
     
        
    }
    .navresume {
        width: 85px;
        padding-top: 2px;
        // padding-left: 20px;
    
        
        
    }
    
    .navabout {
        width: 105px;
        padding-top: 2px;
        padding-left: 20px;
        // padding-right: 20px;
    
    }
    
    .navhome {
        width: 100px;
        cursor: pointer;
        padding-left: 20px;
    
    
    }
    
    .navresume:hover, .navhome:hover, .navwork:hover, .navabout:hover {
       
        transform: scale(1.1);
        transition: 2ms;
    
    }
    
    
    .navcontain {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
    
    }
    }

    //NAV MEDIA QUERY DEKSTOP 1440=========================
@media only screen and (min-width: 1440px ) { 

    .nav {
        background-color: #331E38;
        padding: 10px;
        box-shadow: 0 20px 60px -40px rgb(44, 43, 43);
        
    } 

    .nav-link {
        display: flex;
        justify-content:center;
    }
    
    .navbar-toggler {
        border: none !important;
        
    }

    .navbar-toggler-icon {
        border: none !important;
        
    }

    .navbar-toggle {
        border: none !important;

    }

    .navbar-collapse {
       
        border: none !important;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navwork {
       
        width: 150px;
        padding-top: 1px;
        margin-left: 50px;
        margin-right: 50px;
        
     
        
    }
    .navresume {
        width: 105px;
        padding-top: 2px;
        margin-left: 50px;
        // margin-right: 50px;
        
        
    }
    
    .navabout {
        width: 125px;
        padding-top: 2px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .navhome {
        width: 125px;
        cursor: pointer;
        // margin-left: 50px;
        margin-right: 50px;
    
    }
    
    .navresume:hover, .navhome:hover, .navwork:hover, .navabout:hover {
       
        transform: scale(1.1);
        transition: 2ms;
    
    }
    
    
    .navcontain {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
    
    }
    }

        //NAV MEDIA QUERY DEKSTOP 1440=========================
@media only screen and (min-width: 2560px ) { 

    .nav {
        background-color: #331E38;
        padding: 10px;
        box-shadow: 0 20px 60px -40px rgb(44, 43, 43);
        
    } 

    .nav-link {
        display: flex;
        justify-content:center;
    }
    
    .navbar-toggler {
        border: none !important;
        
    }

    .navbar-toggler-icon {
        border: none !important;
        
    }

    .navbar-toggle {
        border: none !important;

    }

    .navbar-collapse {
       
        border: none !important;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navwork {
       
        width: 140px;
        padding-top: 1px;
        margin-left: 50px;
        margin-right: 50px;
        
     
        
    }
    .navresume {
        width: 100px;
        padding-top: 2px;
        margin-left: 50px;
        margin-right: 50px;
        
        
    }
    
    .navabout {
        width: 120px;
        padding-top: 2px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .navhome {
        width: 120px;
        cursor: pointer;
        margin-left: 50px;
        margin-right: 50px;
    
    }
    
    .navresume:hover, .navhome:hover, .navwork:hover, .navabout:hover {
       
        transform: scale(1.1);
        transition: 2ms;
    
    }
    
    
    .navcontain {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
    
    }
    }