

  /* VIDEO PLAYER */



.main-video-container {
display: none;

}


.caddie-video-container {
  display: none;
}


.main-video-container-mobile {
  
  padding-left: 50px;
  // padding-top: 150px;
  

}

.main-video-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-right: 2px;
  padding-top: 75px;
}


.container-video {
 width: 280px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 0.75rem;
 padding-right: 0.75rem;
 margin: 0 !important;
 padding: 0 !important;
 

}


video {
  width: 100%;
}

.video-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 20px;
  
  
  
}

.video-wrapper:hover .controls {
  transform: translateY(0%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5px;
  padding: 14px;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  background: rgba(153, 132, 192, 0.418);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(150%);
  transition: all 0.1s ease-in-out;
}

.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
  
}
/* this is where you can change progress bar color */
input[type="range"] {
  -webkit-appearance: none !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 4px;
  width: 350px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: rgb(255, 255, 255) !important;
  cursor: pointer;
  height: 6px;
  
}

input[type="range"]::-moz-range-progress {
  background: white;
}

.velocity {
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}


// VIDEO PLAYER MEDIA QUERY TABLET

@media only screen and (min-width: 426px) {

    
.caddie-video-container {
    display: block;
  }   
.main-video-container-mobile {
  display: none;
      
    
  }

.main-video-container-main {
  display: none;
        
      
  }



.main-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2px;
  padding-top: 75px;
  
  

}


.container-video {
 width: 450px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 0.75rem;
 padding-right: 0.75rem;
 margin: 0 !important;
 padding: 0 !important;
 

}


video {
  width: 100%;
}

.video-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 20px;
  
  
  
}

.video-wrapper:hover .controls {
  transform: translateY(0%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5px;
  padding: 14px;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  background: rgba(153, 132, 192, 0.418);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(150%);
  transition: all 0.1s ease-in-out;
}

.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
  
}
/* this is where you can change progress bar color */
input[type="range"] {
  -webkit-appearance: none !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 4px;
  width: 350px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: rgb(255, 255, 255) !important;
  cursor: pointer;
  height: 6px;
  
}

input[type="range"]::-moz-range-progress {
  background: white;
}

.velocity {
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}
}


// VIDEO PLAYER MEDIA QUERY DESKTOP 769

@media only screen and (min-width: 769px) {

  /* VIDEO PLAYER */
  
.caddie-video-container {
  display: block;
}  

.main-video-container-mobile {
  display: none;
        
      
}
  
.main-video-container-main {
  display: none;
          
        
}


.main-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2px;
  padding-top: 20px;
  
  

}


.container-video {
 width: 550px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 0.75rem;
 padding-right: 0.75rem;
 margin: 0 !important;
 padding: 0 !important;
 

}


video {
  width: 100%;
}

.video-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 20px;
  
  
  
}

.video-wrapper:hover .controls {
  transform: translateY(0%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5px;
  padding: 14px;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  background: rgba(153, 132, 192, 0.418);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(150%);
  transition: all 0.1s ease-in-out;
}

.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
  
}
/* this is where you can change progress bar color */
input[type="range"] {
  -webkit-appearance: none !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 4px;
  width: 350px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: rgb(255, 255, 255) !important;
  cursor: pointer;
  height: 6px;
  
}

input[type="range"]::-moz-range-progress {
  background: white;
}

.velocity {
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}
}

@media only screen and (min-width: 1025px) {

  /* VIDEO PLAYER */
  
.caddie-video-container {
  display: block;
}  

.main-video-container-mobile {
  display: none;
        
      
}
  
.main-video-container-main {
  display: none;
          
        
}


.main-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2px;
  padding-top: 20px;
  
  

}


.container-video {
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 0.75rem;
 padding-right: 0.75rem;
 margin: 0 !important;
 padding: 0 !important;
 

}}

@media only screen and (min-width: 1440px) {

  /* VIDEO PLAYER */
  
.caddie-video-container {
  display: block;
}  

.main-video-container-mobile {
  display: none;
        
      
}
  
.main-video-container-main {
  display: none;
          
        
}


.main-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2px;
  padding-top: 20px;
  
  

}


.container-video {
 width: 550px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 0.75rem;
 padding-right: 0.75rem;
 margin: 0 !important;
 padding: 0 !important;
 

}}

@media only screen and (min-width: 2560px) {

  /* VIDEO PLAYER */
  
.caddie-video-container {
  display: block;
}  

.main-video-container-mobile {
  display: none;
        
      
}
  
.main-video-container-main {
  display: none;
          
        
}


.main-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2px;
  padding-top: 20px;
  
  

}


.container-video {
 width: 850px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 0.75rem;
 padding-right: 0.75rem;
 margin: 0 !important;
 padding: 0 !important;
 

}}